.playerWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  i {
    color: white;
  }
}
.player-controllers {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 450px;
  user-select: none;
}
.player-buttons {
  margin-top: 50px;
  display: flex;
  width: 350px;
  justify-content: space-around;
}

.hide {
  display: none;
}
