form {
  &:not(.search__form) {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    input {
      width: 80%;
      padding: 10px 20px;
      border-radius: 10px;
      margin-bottom: 7px;
      font-size: 16px;
      border: 1px solid gray;
      &::placeholder {
        color: rgba(51, 51, 51, 0.5);
      }
    }
    input[type='submit'] {
      background-color: lightpink;
      cursor: pointer;
      text-align: center;
      display: block;
      width: 100%;
      max-width: 318px;
      margin-bottom: 10px;
    }
    hr {
      width: 90%;
      margin-bottom: 10px;
    }
  }
}
