extends layout.pug 
include mixins/videoMixin

block content 
  div(class="video__grid")
    if videoDB.length ===0
      p(class="empty__message") No videos found
    else 
      each video in videoDB 
        +videoMixin(video)
        +videoMixin(video)
        +videoMixin(video)
        +videoMixin(video)
        +videoMixin(video)
        +videoMixin(video)
        +videoMixin(video)
        +videoMixin(video)

