extends layout.pug 
include mixins/videoMixin

block content 
  h1 Welcome Home
  ul
    if videoDB.length ===0
      p Video is Empty
    else 
      each video in videoDB 
        +videoMixin(video)