extends layout.pug 

block content 
  if(errorMessage)
    span #{errorMessage}
  
  form(method="post")
    input(type="text" name="name" required placeholder="Name")
    input(type="email" name="email" required placeholder="Email")
    input(type="text" name="username" required placeholder="Username")
    input(type="password" name="password" required placeholder="Password")
    input(type="password" name="password2" required placeholder="Confirm Password")
    input(type="text" name="location" required placeholder="Location")
    input(type="submit" Value="Join")
