extends layout.pug 

block content 
  form(method="post")
    input(type="text" name="name" required)
    input(type="email" name="email" required)
    input(type="text" name="username" required)
    input(type="password" name="password" required)
    input(type="text" name="location" required)
    input(type="submit" Value="Join")
