extends layout.pug 

block content 
  if(errorMessage)
    span #{errorMessage}
  
  form(method="post")
    input(type="text" name="username" required placeholder="Username")
    input(type="password" name="password" required placeholder="Password")
    input(type="submit" Value="Login")
    hr
    div(class="social-login__btn") 
      a(href="/users/github/start") Continue with Github <i class="fab fa-github"></i> &rarr; 
    div(class="auth-switch")
      span Don't have an account?
        a(href="/join")  Create one now &rarr;
