extends layout.pug

block content 
  div(class="uploadPageWrap")
    div(class="videoRecorderContainer")
      span(id="startBtn" class="") <i class="fas fa-video"> Create a video? Please Click!!</i>
      span(id="recBtn" class="hide") <i class="fas fa-record-vinyl"> Click Here → to Start Recording</i>
      span(id="stopBtn" class="hide") Camera is Recording<br> <i class="far fa-stop-circle"> Click Here → to Stop Recording</i>
      span(id="finalBtn" class="hide") Recording is done!
    video(id="preview" class="hide")

    if(errorMessage)
      span #{errorMessage}
    form(class="uploadForm" method="post" action="/videos/upload" enctype="multipart/form-data")
      label(for="video" ) Video File 
      input(type="file" accept="video/*" name="video" id="video" required)
      label(for="thumb") Thumbnail 
      input(type="file" accept="image/*" name="thumb" id="thumb" required)
      input(type="text" name="title" placeholder="Please Insert Title" required maxlength=80)
      input(type="text" name="description" placeholder="Description" required minlength=20)
      input(type="text" name="hashTags" placeholder="Hashtags, separated by comma!" required)
      input(type="submit" value="Upload Video")

block scripts 
  script(defer src="/assets/js/recorder.js")
