header
  i(class="fab fa-youtube")
  h1=pageTitle
  a(href="/") HOME  
  a(href="/search") | Search Video <br>
  if isLoggedIn===true
    a(href="/videos/upload") | Upload Video <br>
    a(href=`/users/${loggedInUser._id}`) | My Profile
    a(href="/users/logout") | Logout <br> 
    a(href="/users/edit") | Edit #{loggedInUser.name} Profile
  else 
    a(href="/login") | Login <br>
    a(href="/join") | Join <br>