extends ../layout.pug
include ../mixins/videoMixin

block content 
  ul
    if userData.videos.length ===0
      p Nothing is found! 
    else 
      each video in userData.videos
        +videoMixin(video)