extends ../layout.pug
include ../mixins/videoMixin

block content 

  div(class="userProfile-container")
    div(class="profile-nav")
      if loggedInUser.avatarURL===undefined 
        img(class="avatar" alt="No Image")
      else if loggedInUser.socialOnly 
        img(class="avatar" src=loggedInUser.avatarURL crossorigin="anonymous") 
      else 
        img(class="avatar" src=`/${loggedInUser.avatarURL}` alt="avatar") 
      
      div(class="uploadedVideos")
        p(class="userProfileName") #{userData.name} 
        hr
        p Uploaded Videos : #{userData.videos.length}
      a(class="userEditLink" href="/users/edit") Edit Profile
  
    ul
      if userData.videos.length ===0
        p(class="empty__message") Nothing is found! 
      else 
        div(class="video__grid")
          each video in userData.videos
            +videoMixin(video)

  